# .env.template
#
# It is a template file for .env file which contains all the environment
# variables used in the docker-compose.yml file.
#
# Should be copied to .env file and filled with the correct values.

# app - fetching data from ftp
FTP_USER=''
FTP_PASSWORD=''
FTP_URL=''

# influxdb - influxdb configuration
DOCKER_INFLUXDB_INIT_USERNAME=''
DOCKER_INFLUXDB_INIT_PASSWORD=''
DOCKER_INFLUXDB_INIT_ORG=''
DOCKER_INFLUXDB_INIT_BUCKET=''
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=''
DOCKER_INFLUXDB_INIT_IREM_BUCKET=''

# grafana - grafana configuration
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
GF_VIEWER_LOGIN=
GF_VIEWER_PASSWORD=
